
<div>

<h4><b>Lista persoanelor</b> </h4>
   <a routerLink="adressList">Lista de adrese</a>

    
    


<table>
    <tr>
        <th>Id</th>
        <th> Prenume</th>
        <th>Nume</th>
        <th>Varsta</th>
        <th>User Name</th>
        <th>Parola</th>
        <th>Sex</th>
        <th>Adresa</th>
        <th>Oras</th>
        <th>Email</th>
        <th> Telefon</th>


    </tr>
    <tr *ngFor="let item of persons">
        <td> {{item.id}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.age}}</td>
        <td>{{item.userName}}</td>
        <td>{{item.password}}</td>
        <td>{{item.gender}}</td>
        <td * ngFor=" let person of item.addressDto">
           <td>{{item.addressDto.address}}</td> 
           <td> {{item.addressDto.city}}</td>
           <td> {{item.addressDto.email}}</td>
           <td>{{item.addressDto.noTel}}</td>


        <!-- </td>
        <td *ngIf="item.addressDto">
            <p>{{item.addressDto.address}}, {{item.addressDto.city}}, {{item.addressDto.email}},{{item.addressDto.noTel}}  </td>
        <td *ngIf="item.addressDto">{{item.addressDto.city}} </td>
        <td *ngIf="item.addressDto">{{item.addressDto.email}} </td>
        <td *ngIf="item.addressDto">{{item.addressDto.noTel}} </td> -->
        <td>
            <button (click)="delete(item.id)"> Delete person</button>
        </td>
        
    </tr>
</table>

<button routerLink="addPerson">Go to Add Person</button>


</div>